@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.counter{
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    h1{
        font-size: 60px;
        font-weight: 600;
        color: white;

    }
    .btn{
        font-size: 30px;
    }

}