@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.counter{
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    
    .btn{
        font-size: 30px;
    }

}